body {
    font-family: Arial, sans-serif;
    background-color: #000A30;
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Style the logo container */
.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 3rem; /* Add margin to separate from the container */
}

/* Style the logo image */
.logo {
    height: 80px; /* Increase the height for a bigger logo */
    margin-right: 1rem; /* Increase the margin for better spacing */
}

/* Style the site name */
.site-name {
    font-size: 2.5rem; /* Increase the font size */
    color: white;
}

.container {
    background: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
    background-color: #333;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

p {
    margin-top: 1rem;
}

a {
    color: #333;
}
